{% extends "admin/base_site.html" %}
{% load static %}

{% block content %}
  <p>
    <a href="{% url 'admin:manga_chapter_changelist' %}" class="button default">⬅️ Orqaga</a>
  </p>

  <h2><strong>{{ chapter }}</strong> uchun sahifalarni yuklash</h2>

  <form method="post" enctype="multipart/form-data">
    {% csrf_token %}
    <div>
      <label for="id_images"><strong>Rasmlar tanlang:</strong></label><br>
      {{ form.images }}
    </div>

    <br>
    <button type="submit" class="button default">📤 Yuklash</button>
  </form>
{% endblock %}
